################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JuceLibraryCode
/Builds/VisualStudio2026
/.vs
/voxGenesis-test.filtergraph
/Source/.vs
/vcpkg_installed
/tests/voxGenesis_tests/Builds/VisualStudio2026
/tests/voxGenesis_tests/JuceLibraryCode
